/* ----------------- */
/* Custom properties */
/* ----------------- */

:root {
    --clr-dark: hsl(230 35% 7%);
    --clr-grey: hsl(0 0% 59%);
    --clr-light: hsl(231 77% 90%);
    --clr-white: hsl(0 0% 100%);
    --clr-trans-white: hsl(0 0% 100% / 0.1);


   --barlow: 'Barlow Condensed', sans-serif;
   --bellefair: 'Bellefair', serif;

   
}

/* ------------ */
/* Reset        */
/* ------------ */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}



/* colors */

.bg-dark {background-color: hsl( var(--clr-dark) );}
.bg-accent {background-color: hsl( var(--clr-light) );}
.bg-white {background-color: hsl( var(--clr-white) );}

.text-dark {color: hsl( var(--clr-dark) );}
.text-accent {color: hsl( var(--clr-light) );}
.text-white {color: hsl( var(--clr-white) );}

body {
    background-image: url(/starter-code/assets/home/background-home-desktop.jpg);
    background-size: cover;
}

nav {
    padding: 40px 0 40px 40px;
}

.navbar {
display: flex;
justify-content: space-between;
align-items: center;
}

.icon {
    flex-grow: auto;
    margin-right: 40px;
}

.line {
    flex-grow: 2;;
    height: 1px;
    width: auto;
    background-color: var(--clr-grey);
    opacity: 50%;
}

.nav-links {

    display: flex;
    flex-grow: 2;
    justify-content: space-evenly;
    list-style: none;
    background-color: var(--clr-trans-white);
    backdrop-filter: blur(0.2rem);
    padding: 27px 0;
    ;
}



a {
    color: var(--clr-white);
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--barlow);
    letter-spacing: 2.7px;
}
li span {
    font-family: var(--barlow);
    font-weight: bold;
    
}

.home-hero {
    display: flex;
}